/*footer*/
.footer {
    width: 100%;
    background-color: #eee;
    position: relative;
}

.footer .footer_all {
    width: 1250px;
    height: 280px;
    margin: 0 auto;
    display: flex;
}

.footer .footer_all>div {
    flex-grow: 1;
    margin-top: 30px;
}

.footer .footer_all .footer_left img {
    width: 200px;
    margin-bottom: 15px;
}

.footer .footer_all .footer_left ul li {
    display: inline-block;
    font-weight: 600;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
}

.footer .footer_all .footer_left p {
    font-size: 13.5px;
}

.footer .footer_all .footer_left p:last-child {
    margin-top: 20px;
    font-size: 11px;
}

.footer .footer_all .footer_left p span {
    margin-right: 8px;
}

.footer .footer_all .footer_right>div {
    margin-bottom: 20px;
}

.footer .footer_all .footer_right div:nth-child(1) p {
    font-size: 25px;
    font-weight: 900;
    margin-top: 5px;
}

.footer .footer_all .footer_right div p {
    font-size: 13.5px;
}

.footer .footer_all .footer_right div .mony {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 3px;
}