@font-face {
    font-family: "42dot Sans";
    src: url(../font/42dot_Sans/42dotSans-VariableFont_wght.ttf);
    unicode-range: U+AC00-U+D7A3, U+0030-0039;
}

@font-face {
    font-family: "Tagesschrift";
    src: url(../font/42dot_Sans\,Tagesschrift\,Underdog/);
    unicode-range: U+0041-005A;
}

body {
    font-family: "42dot Sans", "Tagesschrift";
}