.header {
    width: 100%;
    margin: 0 auto;
}

/*popup_banner*/
.popup_banner {
    position: relative;
    height: 30px;
    line-height: 30px;
    background-color: rgb(230, 214, 192);
    font-size: 14px;
}

.popup_banner p {
    text-align: center;
}

.popup_banner div {
    position: absolute;
    top: 0;
    right: 18%;
    cursor: pointer;
}


/*gnb_top*/
.gnb_top {
    width: 1250px;
    height: 30px;
    margin: 0 auto;
}

.gnb_top ul {
    float: right;
    font-size: 13px;
    margin-top: 5px;
}

.gnb_top ul li {
    display: inline-block;
    padding: 0 8px;
}

.gnb_top ul li:last-child {
    padding-right: 0;
}

.gnb_top ul li .num {
    padding: 2px 5px;
    line-height: 30px;
    text-align: center;
    background-color: #ccc;
    color: white;
    border-radius: 3px;
}


/*logo_box*/
.logo_box {
    width: 1250px;
    height: 90px;
    margin: 0 auto;
    position: relative;
}

.logo_box img {
    width: 305px;
    float: left;
}

.search_box {
    position: absolute;
    top: 20px;
    right: 40%;
}

.search_box input {
    width: 400px;
    height: 40px;
    background-color: #eee;
    border: 0;
    border-radius: 50px;
}

.search_box i {
    position: absolute;
    top: 12px;
    right: 20px;
}



/*category*/
.gnb_outer.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 30;
    background-color: white;
    margin-top: 0;
}

.gnb_outer {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 50px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.gnb_outer .outer {
    width: 1250px;
    height: 50px;
    margin: 0 auto;
}

.gnb_outer .outer div {
    width: 95px;
    line-height: 50px;
    text-align: center;
    float: left;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.gnb_outer .outer .menu ul {
    float: right;
}

.gnb_outer .outer .menu ul li {
    display: inline-block;
    padding: 0 50px;
    font-weight: 600;
    font-size: 17px;
}

.gnb_outer .outer .menu ul li a {
    color: #333;
}

.gnb_outer .outer .category {
    width: 1250px;
    position: absolute;
    top: 50px;
    z-index: 10;
    background-color: white;
    border: 1.5px solid #ccc;
}

.gnb_outer .outer .category ul {
    float: left;
    width: 250px;
    height: 420px;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}

.gnb_outer .outer .category ul:last-child {
    border-right: 0;
}

.gnb_outer .outer .category ul li {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 5px;
}

.gnb_outer .outer .category ul li:hover {
    font-weight: 600;
}

.gnb_outer .outer .category ul li a {
    color: rgb(60, 60, 60);
}